# Project Management with direnv
#
# References:
# - https://direnv.net/
# - https://stackoverflow.com/questions/33701505/a-dotfile-that-will-set-the-default-node-version-on-a-project-using-nvm

nvmrc=~/.nvm/nvm.sh
if [ -e $nvmrc ]; then
  source $nvmrc
  nvm use
fi

PATH_add node_modules/.bin
