.spinner-firstspinner-svg {
  text-align: center;;
  margin: 2vw auto 2vw auto;
}

.spinner-firstspinner-svg svg {
  animation: batman 5.00s ease-in 0.75s infinite;
}

@keyframes batman {
  from {
    transform: rotate(0deg) scale(0.15, 0.15);
  }
  50% {
    transform: rotate(720deg) scale(2, 2);
  }
  to {
    transform: rotate(1080deg) scale(0.15, 0.15);
  }
}
